

.row.car-show-info
  .show-car.span5
    .show-info

  .span5.offset2
    .lead License Plate: #{@car.license_number}
    .lead Current Status: #{@car.status}
    .lead Rental Count: #{@reservation_count}
    - if @reservation_count > 0
      .lead Rented By:
      - for member_res in @uniq_member_reservations
        - member = member_res.member
        =link_to member.email, "/member/#{member.id}", :class => 'signup-boxx'
    %br
    %br
    %input.datepicker{:car_id => @car.id, :placeholder => 'Car Availability'}
    

:coffeescript
  $ ->

    checkReservation = (context) ->
      return unless context['select']
      time = context['select'] / 1000
      car_id = $('input').attr('car_id')

      $.postJSON "/check_reservation_on_date/" + car_id, {car_id: car_id, time: time}, (response) =>
        date = $('input').val()
        if response.result
          $('.show-info').html 'This car was booked on ' + date
        else
          $('.show-info').html 'This car was available on ' + date


    $('.datepicker').pickadate
      onSet: checkReservation