.row.homepage-container
  .row.homepage-box.span4.offset2
    .toplevel-word Make
    .toplevel-word Some
    .toplevel-word Money
    .secondlevel-words Get a car Get a task and Get paid
    .button-holder
      = link_to "LogIn", new_member_session_path, class: 'signin-box'
      = link_to "SignUp", new_member_registration_path, class: 'signup-box'

  .row.homepage-image.span5
    