.info-line.lead.span10.offset1{:id=> @member} What day would you like to pick up your new car?

.picker-holder.offset3
  %input.datepicker.span6{:placeholder => 'Select A Pickup Date'}

:coffeescript
  $ ->

    makeReservation = (context) ->
      time = context['select']
      currentTime = new Date()
      if time >= currentTime.getTime()
        id = $('.info-line').attr('id')
        window.location= "/reserve_car?time=" + time/1000 + "&id=" + id
      else
        $('.alert').html("Please pick a date after today")

    $('.datepicker').pickadate
      disable: [{ from: -100, to: true }]
      onSet: makeReservation
