
.info-line.lead.span10.offset1{:id=> @member} Are you ready to schedule a return?

.picker-holder.offset3
  %input.datepicker.span6{:placeholder => 'Select A Return Date'}


:coffeescript
  $ ->

    makeReservation = (context) ->
      time = context['select']
      currentTime = new Date()
      if time >= currentTime.getTime()
        id = $('.question-box').attr('id')
        window.location= "/return_car?time=" + time/1000 + "&id=" + id
      else
        $('.alert').html("Please pick a date after today")

    $('.datepicker').pickadate
      disable: [{ from: -100, to: true }]
      onSet: makeReservation
      container: '.datepicker-holder'