.row
  %span.question-box.span7.offset2{:id=> @member} Schedule A Return?
.row
  .datepicker-holder.offset2.span7
    %input.datepicker.datepicker-box.offset2.span7{:placeholder => 'Select A Return Date'}

:coffeescript
  $ ->

    makeReservation = (context) ->
      time = context['select']
      currentTime = new Date()
      if time >= currentTime.getTime()
        id = $('.question-box').attr('id')
        window.location= "/return_car?time=" + time/1000 + "&id=" + id
      else
        $('.alert').html("Please pick a date after today")

    $('.datepicker').pickadate
      disable: [{ from: -100, to: true }]
      onSet: makeReservation
      container: '.datepicker-holder'