$green-color: #1dc28d;
$orange-color: #f8922e;
$blue-color: #233151;

.main-nav{
  border-bottom: 1px solid #071431;
  background-color: $blue-color;
  height: 70px;
}

.logo{
  color: $green-color;
  border-bottom: 1px solid $blue-color;
}

.cancel-button{
  height: 75px;
  border: 2px solid $orange-color;
  border-radius: 3px;
  background-color: white;
  color: $orange-color;
  font-size: 2em;
  font-weight: 200;
  text-align: center;
  line-height: 75px;
  width: 42% !important;
  margin-top: 3%;
}

.cancel-button:hover{
  background-color: #ED4337;
  color: white;
  transition: background-color, .6s, linear;
  border: 2px solid #ED4337;
}

.signin-box{
  border: 1px solid $green-color;
  padding: 10px;
  background-color: $green-color;
  color: white;
  font-weight: 100;
}

.signin-box:hover{
  text-decoration: none;
  color: white;
}

.datepicker{
  height: 50px;
  text-align: center;
  font-size: 2em;
  font-weight: 200;
  margin-top: 2%;
}

.info-line{
  font-size: 3em;
  line-height: 1.5;
  text-align: center;
  margin-top: 7%;
  color: $orange-color;
}

.button-holder{
  margin-top: 12px;
}

.signup-box{
  border: 1px solid $blue-color;
  padding: 10px;
  background-color: $blue-color;
  color: $green-color;
  font-weight: 100;
}

.signup-box:hover{
  text-decoration: none;
  color: $green-color;
}

.logo:hover{
  border-bottom: 1px solid $orange-color;
  transition: border, .4s, linear;
  color: $green-color;
  text-decoration: none;
}

.logo-bar{
  position: absolute;
  left: 10%;
  font-size: 3em;
  font-weight: 100;
  width: 15%;
  height: 70px;
  line-height: 70px;
}

.nav-bar{
  position: absolute;
  right: 5%;
  font-size: 1.2em;
  font-weight: 100;
  width: 20%;
  height: 70px;
  line-height: 70px;
}

.homepage-container{
  margin-top: 10%;
}

.homepage-image{
  background-image: url("prius-drawing.png");
  background-size:100%;
  background-repeat: no-repeat;
  height: 300px;

}

.toplevel-word{
  font-size: 5em;
  line-height: 100%;
  font-weight: 100;
}

.secondlevel-words{
  margin-top: 10px;
  font-weight: 100;
  font-size: 1.2em;
}

.datepicker-holder{
  .input{
    background-color: white;
  }
  margin-top: 230px;
  border-radius: 5px;
  border: 2px solid $green-color;
}
.datepicker-box{
  height: 40px;
}
.question-box{
  position: absolute;
  height: 200px;
  border: 2px solid $orange-color;
  border-radius: 5px;
}

.actions-bar{
  position: absolute;
  right: 25%;
  font-size: 1.2em;
  font-weight: 100;
  width: 25%;
  height: 70px;
  line-height: 70px;
}

.action-items{
  color: $orange-color;
  font-size: 1.3em;
}

.nav-button{
  color:white;
  margin-right: 7%;
  border-bottom: 1px solid $blue-color;
}

.nav-button:hover{
  border-bottom: 1px solid $orange-color;
  transition: border, .4s, linear;
  color: white;
  text-decoration: none;
}



 // Sign In Styling

 .signup {

  .form-field{
    margin-top:50px;
  }

  input[type=text],input[type=email],input[type=password]{
    width: 275px;
    height: 50px;
    border: 2px solid $orange-color;
    color: $orange-color;
    font-size: 2em;
  }

  .margin20{margin-top:20px;}

  .margin80{margin-top:80px;}

  #button{
    width: 290px;
    height: 60px;
    border: 1px solid $blue-color;
    color: white;
    font-size: 2em;
    font-weight:100;
    border-radius: 5px; 
    padding: 4px 6px;  
    background-color: $blue-color; 
  }


  ::-webkit-input-placeholder {
   color: rgba(248,146,46, .32);
  }

  :-moz-placeholder { /* Firefox 18- */
   color: rgba(248,146,46, .32);
  }

  ::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(248,146,46, .32);
  }

  :-ms-input-placeholder {  
   color: rgba(248,146,46, .32);
  }

  input:focus { 
    background-color: white;
    color: $orange-color;
  }

}